body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*logo container*/
  .top-container {
    background-color: white;
    padding: 30px;
    text-align: center;
  }
  /*logo*/
  .logo{
    height: 150px;
    width: 300px;
  }
  /*BGames*/
  .top-container-name{
    padding: 14px 20px; 
    float: left;
    color: rgb(230, 44, 44);
    font-family: 'Impact', fantasy;
    font-size: 45px;
    text-shadow: 4px 3px 0px rgb(85, 82, 82), 9px 8px 0px rgba(71, 68, 68, 0.15);
  }
  /*Top navigation*/
  .navbar {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    transition: top 0.3s;
}
/*buttons into the navigations*/
.navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 29px 16px;
    text-decoration: none;
}
/*button with list*/ 
.dropdown {
    float: left;
    overflow: hidden;
}
/* buttons with list - style*/
.dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    padding: 29px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*button with list - style after efects*/
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(155, 146, 146);
}
/*list - style*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*list buttons - style*/
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/*list buttons - style after efects*/
.dropdown-content a:hover {
    background-color: #ddd;
}
/*block display list content*/
.dropdown:hover .dropdown-content {
    display: block;
}


input[type=text] {
  font-size: 16px;
  margin-top: 28px;
  margin-left: 160px;
  width: 350px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 40%;
}

  /*side navigation*/
  .sidenav {
      
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }
  /*side navigation text style*/
  .sidenav-text{
    position: fixed;
    
    margin-left: 15px;
    float: left;
    color: rgb(230, 44, 44);
    font-size:50px;
    cursor:pointer;
  }
  /*side navigation - links style*/
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }
  /*side navigation - links style after efects*/
  .sidenav a:hover {
      color: #f1f1f1;
  }
  /*side navigation close button text style*/
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }
  /*side bar efects*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*main content*/
  .content {
    padding-top: 45px;
    padding-left: 80px;
  }
